<p>
  Current Events
</p>
<ion-card>
  <ion-card-header>
    <ion-item lines="none">
      <ion-button fill="outline" slot="end" color="danger">View Expo</ion-button>
      <ion-card-subtitle>Gallery Title</ion-card-subtitle>
    </ion-item>
    <ion-img src="../assets/img/moma.jpg"></ion-img>
  </ion-card-header>
  <ion-card-content>
    <p>Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.</p>
    <p><b>Subasta y venta disponible</b></p>
  </ion-card-content>
  <!-- Schedule -->
  <ion-item lines="none">
    <p slot="start" >9h - 21h</p>
  </ion-item>
  <ion-item lines="none">
    <p slot="start">9 nov - 15 dic</p>
  </ion-item>
  <ion-button color="dark" expand="full"  >COMPRAR ENTRADA</ion-button>
</ion-card>
