
<ion-content fullscreen="true">
  <!-- Searchbar Component in a Toolbar -->
  <ion-header [translucent]="true" class="ion-no-border">
      <ion-toolbar>
        <ion-title size="small">Galleries Now</ion-title>
        <app-search-bar></app-search-bar>
     </ion-toolbar>
  </ion-header>
  <!-- Stories Next Events -->
  <app-events-swiper></app-events-swiper>
  <!-- Posts Currents Events -->
  <app-current-events></app-current-events>



  <div>
    <!--Chips to filter by Gender-->
    <ion-chip color="danger" outline
              *ngFor="let gender of chipGender;"
              (click)="filterWorkers(gender)">
      <ion-label *ngIf="gender === 'F'"> Woman </ion-label>
      <ion-label *ngIf="gender === 'M'"> Man  </ion-label>
    </ion-chip>

  </div>
  <div>
    <!--Chips to filter by Profession-->
    <ion-chip color="primary" outline
              *ngFor="let profession of chipProfession"
              (click)="filterProfession(profession)">
      <ion-label color="dark">{{profession}}</ion-label>
    </ion-chip>
  </div>
  <!--List of all employees or filtered employees-->
  <ion-list  *ngIf="workers">
    <ion-item *ngFor="let worker of workers"
              (click)="workerDetail(worker.id)">
      <ion-avatar slot="start">
        <img [src]="worker.image" alt="worker avatar">
      </ion-avatar>
      <ion-label>{{worker.first_name}} {{worker.last_name}}</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>

  </ion-list>


</ion-content>
